APP_NAME=PANTAU - Pusat Analitik Transaksi dan Aktivitas User

API_BASE_URL=http://192.168.12.137/webservice

TIMEZONE=Asia/Jakarta

# Database (untuk fallback direct query jika REST API audit belum tersedia)
DB_HOST=192.168.12.137
DB_PORT=3306
DB_NAME=medicalrecord
DB_USER=admin
DB_PASS=S!MGos2@kemkes.go.id
